.join-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.join-form__img {
  margin: auto;
}

.join-form__label {
  font-size: 1.5em;
}

.join-form__input {
  font-size: 1.5em;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}
