.header__title--center {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.header--center::after {
  content: '';
  width: 24px;
}

.room-code {
  font-size: 2.5em;
  color: #333;
  letter-spacing: 3px;
  background-color: #fff;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  display: block;
  margin-top: 15px;
  width: 100%;
}

.room-code:hover {
  background: #e4e7eb;
}

.room-code:active {
  background: #c9ccd1;
}

.room-code__note {
  font-size: 1.2em;
  margin-top: 10px;
  color: #666;
}
