.header--room-code {
  justify-content: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.header-room-code__toast {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  width: 140px;
  margin-left: -75px;
  text-align: center;
  background-color: white;
  color: #666;
  font-size: 1.2em;
  border-radius: 8px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.header-room-code__toast--visible {
  visibility: visible;
  opacity: 1;
}

.vote-options {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.vote-options__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.1em;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vote-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.vote-buttons__button {
  background: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
}

.vote-buttons__button--disabled {
  color: #ccc;
  cursor: default;
}

.vote-buttons__button:hover {
  background-color: #bdd2ff;
}

.vote-buttons__button--disabled:hover {
  background-color: #fff;
}

.vote-buttons__value {
  font-size: 1.2em;
  width: 1.2em;
}

.add-option {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-option__input {
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 1.1em;
  flex: 1;
}

.add-option__button {
  padding: 10px 20px;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.add-option__button--disabled {
  background-color: grey;
  cursor: default;
}

.add-option__button:hover {
  background-color: #1e40af;
}

.add-option__button--disabled:hover {
  background-color: grey;
}
